body {
    font-family: 'Courier New', Courier;
}

.khampha {
    width: 100%;
    margin-top: 50px;
}

.title-main {
    text-align: center;
    margin: 0 auto;
}

#title-kp {
    font-size: 14px;
    color: rgb(66, 67, 68);
    letter-spacing: 2px;
    /*khoảng cách chữ*/
}

#hr-kp {
    width: 60px;
    color: rgb(196, 144, 14);
    margin: auto;
}

#title-kp-2 span {
    color: rgb(196, 144, 14);
}

#title-kp-2 {
    font-size: 30px;
    color: rgb(33, 33, 34);
    margin-bottom: 35px;
}

.place {
    /*border:1px solid;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*fix khung ảnh*/

.place .place_1,
.place_2,
.place_3,
.place_4,
.place_5,
.place_6 {
    /*border: 1px dashed;*/
    position: relative;
    width: 60%;
    max-width: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
}


/*fix hình ảnh bằng 100% của khung ảnh*/

.place #img_place {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 50%;
}

.place .title-place {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px 0 20px 0;
    text-align: center;
}

.place #img_place:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.01);
    transition: .5s ease;
}

.place_1:hover .title-place,
.place_2:hover .title-place,
.place_3:hover .title-place,
.place_4:hover .title-place,
.place_5:hover .title-place,
.place_6:hover .title-place {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #title-kp-2 {
        font-size: 25px;
    }
    .place .place_1,
    .place_2,
    .place_3,
    .place_4,
    .place_5,
    .place_6 {
        width: 100%;
    }
    .title-main {
        width: 75%;
    }
}