/*-------Liên Hệ------*/

.LH {
    background-image: url(./img/DN1.jpg);
    /*chèn ảnh nền cho khối*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier;
    margin: 0 auto;
    padding: 0 auto;
}

.title-lienhe {
    padding-top: 20px;
}

.content-section {
    padding-top: 30px;
    position: relative;
    color: black;
}

.contact-content {
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-address {
    width: 30%;
}

.section-heading {
    text-align: center;
    color: rgb(58, 56, 56);
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 2px;
}

#hr-lh {
    color: rgb(196, 144, 14);
    width: 60px;
    margin: auto;
}

.section-sub-heading {
    text-align: center;
    font-size: 25px;
    margin: 15px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

.section-sub-heading span {
    color: rgb(196, 144, 14);
}

.row {
    margin: 0 auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    position: relative;
}

.col-half {
    width: 50%;
    position: relative;
}


/*message*/

.col-full {
    width: 102%;
    padding-top: 10px;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
    width: 310px;
    margin-left: 530px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
    padding: 10px;
    position: relative;
    left: -10px;
    top: 5px;
}

.contact-info {
    position: relative;
    left: -100px;
    width: 355px;
}

.contact-form {
    font-size: 15px;
    width: 400px;
}

.form-control {
    padding: 10px;
    border: solid #ccc;
    width: 95.8%;
}

.mt-8 {
    margin-top: 8px !important;
    padding-bottom: 20px;
}

.mt-16 {
    margin-top: 16px !important;
}

.form-submit-btn {
    background: rgb(70, 67, 67);
    opacity: .7;
    width: 160px;
    color: #fff;
    border: 1px solid #333;
    padding: 10px;
    position: relative;
    font-weight: bold;
}

.form-submit-btn:hover {
    cursor: pointer;
    background: rgb(29, 24, 24);
}

@media screen and (max-width: 768px) {
    .section-sub-heading {
        font-size: 18px;
    }
}

@media screen and (max-width: 525px) {
    .footer-list {
        font-size: 14px;
    }
    .footer_item {
        margin: 0 10px;
        padding: 30px 0 15px 0;
    }
    .cont-address {
        width: 90%;
    }
    .contact-content {
        margin-top: 20px;
    }
}